
@model List<CarRental.Models.Vehicle>
    
    
<h2>My Cars</h2>

<div class="cars-grid">
    @foreach (var car in Model)
    {
        <div class="car-card">
            <div class="car-card-img">
                <img src="@car.Image" alt="@car.Make @car.Model" />
            </div>

            <div class="car-card-body">
                <h4>@car.Make @car.Model</h4>
                <p><b>Year:</b> @car.Year</p>
                <p><b>Cubic:</b> @car.Cubic</p>
                <p class="car-price"><b>Price/Day:</b> @car.PricePerDay €</p>
            </div>
            <div class="car-card-actions">
                <a href="/Owner/EditMyCar?vehicleId=@car.VehicleId" class="btn-edit">
                    Edit
                </a>

                <form method="post" action="/Owner/DeleteCar">
                    <input type="hidden" name="vehicleId" value="@car.VehicleId" />
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
            </div>
        </div>
    }

</div>

