@model List<CarRental.Models.Booking>

@{
    var archivedBookings = Model
        .Where(b =>
            (b.Status == "Cancelled"
            || b.Status == "Rejected"
            || b.EndDate < DateTime.Now))
        .ToList();

    var activeBookings = Model
        .Where(b =>
            (b.Status == "Accepted"
            || b.Status == "Requested")
            && b.EndDate >= DateTime.Now)
        .ToList();
}

<div class="my-bookings">



    <!-- ACTIVE -->
    <div class="bookings-column">
        <h2>Active Bookings</h2>

        <div class="booking-section">

            @if (activeBookings.Count == 0)
            {
                <p class="no-bookings-message">No active bookings.</p>
            }

            @foreach (var booking in activeBookings)
            {
                <div class="booking-card" 
                     data-lat="@booking.Vehicle.Latitude"
                     data-lon="@booking.Vehicle.Longitude">

                    @if (User.IsInRole("Owner"))
                    {
                        <h4>
                            Booking made for @booking.Vehicle.Make
                            @booking.Vehicle.Model by user

                            <a asp-controller="User"
                                   asp-action="OpenUsersProfile"
                                   asp-route-userId="@booking.Renter.UserId">

                                @booking.Renter.User.FirstName
                                @booking.Renter.User.LastName

                            </a>
                        </h4>
                    }

                    @if (User.IsInRole("Renter"))
                    {
                        <h4>
                            Booking for vehicle @booking.Vehicle.Make
                            @booking.Vehicle.Model owned by

                            <a asp-controller="User"
                                   asp-action="OpenUsersProfile"
                                   asp-route-userId="@booking.Vehicle.Owner.UserId">

                                @booking.Vehicle.Owner.User.FirstName
                                @booking.Vehicle.Owner.User.LastName

                            </a>
                        </h4>
                    }

                    <p>
                        Dates:
                        @booking.StartDate.ToString("dd-MM-yyyy HH:mm")
                        -
                        @booking.EndDate.ToString("dd-MM-yyyy HH:mm")
                    </p>

                    <p>Status:<b> @booking.Status, @(booking.IsPaid ? "Paid" : "Not paid") </b></p>
                    

                    <p class="booking-address">
                        Loading address...
                    </p>

                   
                    @if (booking.Status == "Accepted")
                    {
                        <form asp-controller="User"
                              asp-action="CancelBooking"
                              method="post">

                            <input type="hidden"
                                   name="bookingId"
                                   value="@booking.BookingId" />

                            <button type="submit">
                                Cancel Booking
                            </button>

                        </form>
                    }

                    @if (User.IsInRole("Owner") && booking.Status == "Requested")
                    {
                        <form asp-controller="Owner"
                              asp-action="UpdateBookingStatus"
                              method="post">

                            <input type="hidden"
                                   name="bookingId"
                                   value="@booking.BookingId" />

                            <button type="submit"
                                    name="Status"
                                    value="Accepted">
                                Accept
                            </button>

                            <button type="submit"
                                    name="Status"
                                    value="Rejected">
                                Reject
                            </button>

                        </form>
                    }

                </div>
            }

        </div>
    </div>

    <!-- ARCHIVED -->
    <div class="bookings-column">
        <h2>Archived Bookings</h2>

        <div class="booking-section">

            @if (archivedBookings.Count == 0)
            {
                <p class="no-bookings-message">No archived bookings.</p>
            }

            @foreach (var booking in archivedBookings)
            {
                <div class="booking-card archived">

                    @if (User.IsInRole("Owner"))
                    {
                        @if (!booking.Renter.User.IsDeleted)
                        {
                            <h4>
                                Booking made for @booking.Vehicle.Make
                                @booking.Vehicle.Model by user
                                    <a asp-controller="User"
                                       asp-action="OpenUsersProfile"
                                       asp-route-userId="@booking.Renter.UserId">

                                        @booking.Renter.User.FirstName
                                        @booking.Renter.User.LastName

                                    </a>
                            </h4>
                        }
                        else
                        {
                            <h4>
                                Booking made for @booking.Vehicle.Make
                                @booking.Vehicle.Model by deleted user
                                <a>@booking.Renter.User.FirstName</a>
                                <a>@booking.Renter.User.LastName</a>
                            </h4>
                        }
                    }

                    @if (User.IsInRole("Renter"))
                    {
                        @if (!booking.Vehicle.Owner.User.IsDeleted)
                        {
                            <h4>
                                Booking for vehicle @booking.Vehicle.Make
                                @booking.Vehicle.Model owned by

                                <a asp-controller="User"
                                   asp-action="OpenUsersProfile"
                                   asp-route-userId="@booking.Vehicle.Owner.UserId">

                                    @booking.Vehicle.Owner.User.FirstName
                                    @booking.Vehicle.Owner.User.LastName

                                </a>
                            </h4>
                        }
                        else
                        {
                            <h4>
                                Booking for vehicle @booking.Vehicle.Make
                                @booking.Vehicle.Model owned by deleted user
                                <a>@booking.Vehicle.Owner.User.FirstName</a>
                                <a>@booking.Vehicle.Owner.User.LastName</a>
                            </h4>
                        }
                    }

                    <p>
                        Dates:
                        @booking.StartDate.ToString("dd-MM-yyyy HH:mm")
                        -
                        @booking.EndDate.ToString("dd-MM-yyyy HH:mm")
                    </p>

                    <p>Status:<b> @booking.Status</b></p>

                </div>
            }

        </div>

    </div>

</div>



<!-- Finding location by coordinates -->
<script>
    async function getAddress(lat, lon) {

        try {

            const response = await fetch(
                `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lon}`
            );

            const data = await response.json();

            const address = data.address;

            const road =
                address.road ||
                address.pedestrian ||
                address.footway ||
                "Unknown street";

            const houseNumber =
                address.house_number || "";

            const postcode =
                address.postcode || "Unknown postal code";

            const region =
                address.state ||
                address.region ||
                address.county ||
                "Unknown region";

            return `
                Address: ${road} ${houseNumber}<br>
                Postal Code: ${postcode}<br>
                Region: ${region}
            `;

        } catch (error) {

            return "Address not found";
        }
    }

    document.addEventListener("DOMContentLoaded", async function () {

        const bookingCards =
            document.querySelectorAll(".booking-card");

        for (const card of bookingCards) {

            const lat = card.dataset.lat;
            const lon = card.dataset.lon;

            if (!lat || !lon)
                continue;

            const addressElement =
                card.querySelector(".booking-address");

            const address =
                await getAddress(lat, lon);

            addressElement.innerHTML = address;
        }
    });
</script>